Host proxy
  HostName 45.79.145.198
  User root
  IdentityFile ~/s/k/proxy.pem

Host mhe-mbp
  HostName 45.33.75.238
  Port 10002
  User kenneth_kan

Host mhe-macbuild
  HostName 45.33.75.238
  Port 10003
  User releaseman

Host mhe-bastion
  HostName 45.33.75.238
  Port 10004
  User ec2-user
  IdentityFile ~/s/k/cloud1.pem

Host mhe-production1
  HostName production1.mhlearnsmart.com
  User ec2-user
  IdentityFile ~/s/k/cloud1.pem

Host mhe-cloud1
  HostName cloud1.mhlearnsmart.com
  User ec2-user
  IdentityFile ~/s/k/cloud1.pem

Host mhe-qastaging
  HostName qastaging.mhlearnsmart.com
  User ec2-user
  IdentityFile ~/s/k/cloud1.pem

Host mhe-qalive
  HostName qalive.mhlearnsmart.com
  User ec2-user
  IdentityFile ~/s/k/cloud1.pem

Host mhe-demo
  HostName demo.mhlearnsmart.com
  User ec2-user
  IdentityFile ~/s/k/cloud1.pem

Host mhe-reflow
  HostName reflow.mhlearnsmart.com
  User ec2-user
  IdentityFile ~/s/k/cloud1.pem

Host mhe-html1
  HostName html1.mhlearnsmart.com
  User ec2-user
  IdentityFile ~/s/k/cloud1.pem

Host mhe-cluster-c
  HostName ec2-34-195-181-207.compute-1.amazonaws.com
  User ec2-user
  IdentityFile ~/s/k/cloud1.pem

Host mhe-cluster-d
  HostName ec2-34-195-87-42.compute-1.amazonaws.com
  User ec2-user
  IdentityFile ~/s/k/cloud1.pem
